<div class="container-fluid p-4">
  <div class="row mb-4">
    <div class="col-12">
      <h1>Manage Categories</h1>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <app-category-form 
            [form]="form" 
            [isEdit]="isEdit"
            [categoryLists]="categoryListService.categoriesLists$()"
            [showCategoryListSelector]="true"
            (callSaveMethod)="save($event)">
          </app-category-form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-3">Categories List</h3>
          <app-categories-table 
            [areActionsAvailable]="areActionsAvailable"
            [categories]="categoryService.categories$()"
            (callEditMethod)="edit($event)"
            (callDeleteMethod)="delete($event)">
          </app-categories-table>
          
          @if (categoryService.search.totalPages && categoryService.search.totalPages > 1) {
            <div class="mt-3">
              <app-pagination 
                [service]="categoryService">
              </app-pagination>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
