<div class="container-fluid p-4">
  <div class="row mb-4">
    <div class="col-12">
      <h1>Manage Products</h1>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <app-products-form 
            [form]="form" 
            [isEdit]="isEdit"
            [productLists]="productListService.productsLists$()"
            [showProductListSelector]="true"
            (callSaveMethod)="save($event)">
          </app-product-form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title mb-3">Products List</h3>
          <app-products-table 
            [areActionsAvailable]="areActionsAvailable"
            [products]="productService.products$()"
            (callEditMethod)="edit($event)"
            (callDeleteMethod)="delete($event)">
          </app-products-table>
          
          @if (productService.search.totalPages && productService.search.totalPages > 1) {
            <div class="mt-3">
              <app-pagination 
                [service]="productService">
              </app-pagination>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
